In [1]:
#Ensure that mysql-connector is installed by running the command
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\anita\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\anita\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
#Import the connector under the alias connector
import mysql.connector as connector

### Task One

In [4]:
#Verify that a connection can be made with your database by calling the connection method from the connector class
connection = connector.connect(user = "root", password = " ", db="littlelemondb")

In [5]:
#Instantiate an instance of cursor to pass queries and return results
cursor = connection.cursor()

### Task Two

In [6]:
#Return a snapshot of the database tables
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [8]:
#To view the tables that are associated with the database
results = cursor.fetchall()
print(results)

[('bookings',), ('customerdetails',), ('menuitems',), ('menus',), ('orderdelivery',), ('orders',), ('ordersview',), ('staffinformation',)]

In [9]:
#To view the tables that are associated with the database in list format
for table in results:
    print(table)

('bookings',)
('customerdetails',)
('menuitems',)
('menus',)
('orderdelivery',)
('orders',)
('ordersview',)
('staffinformation',)

### Task Three

In [ ]:
join_query = """
SELECT table1.col1, table1.col2, table2.col1,table2.col3
FROM table1
INNER JOIN table2
ON table1.col1 = table2.col1;"""

#execute query
cursor.execute(join_query)

In [14]:
join_query = """
SELECT CustomerName, CustomerNumber, CustomerEmail, TotalCost
FROM customerdetails
INNER JOIN orders
ON customerdetails.CustomerID = orders.CustomerID
WHERE TotalCost > 60;
"""

#execute query
cursor.execute(join_query)

In [15]:
#To get all column names in a table
columns = cursor.column_names
#print column names 
print(columns)

#print results under column names
results = cursor.fetchall()
for result in results:
    print(result)

('CustomerName', 'CustomerNumber', 'CustomerEmail', 'TotalCost')
('Joakim Iversen', 351474048, 'joakimiversen@gmail.com', Decimal('86'))
('Vanessa McCarthy', 351970582, 'vanessamccarthy@hotmail.com', Decimal('370'))
('Diana Pinto', 351584508, 'dianepinto@gmail.com', Decimal('430'))